.seccion-productos {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
}

.seccion-productos > span {
    font-family: 'Pacifico', cursive;
    font-size: 23px;
    color: #ff4328;
    padding-top: 50px;
    width: 100%;
    text-align: center;
    background-color: #f6f5fA;
}

.seccion-productos > h2 {
    margin: 0;
    text-align: center;
    padding: 0 25px 50px 25px;
    width: 100%;
    background: #f6f5fA;
    font-family: 'Rubik';
    font-weight: bold;
    font-size: 35px;
    color: #212121;
}

.seccion-productos .grid-productos {
    display: grid;
    grid-template-columns: 1fr;
    margin: 80px 20px;
}

@media screen and (min-width: 768px) {
    .seccion-productos .grid-productos {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .seccion-productos .grid-productos {
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 1200px;
    }
    .seccion-productos > h2 {
        font-size: 60px;
    }
}